---
import Layout from "../layouts/Layout.astro";
import LegalPage from "../components/starwind-pro/legal-page-01/LegalPage1.astro";
---

<Layout>
  <LegalPage
    title="Polityka prywatności"
    description="Nadrzędnym priorytetem naszej strony internetowej jest poszanowanie prywatności naszych odwiedzających. Poniższy dokument wyjaśnia, jak dbamy o Twoje dane zgodnie z przepisami RODO (Rozporządzenie o Ochronie Danych Osobowych)."
    pubDate="13 czerwca, 2026r."
  >
    <hr />
    <h2>1. Inspektor Ochrony Danych</h2>
    <p>
      Na podstawie Art. 37 RODO, administrator nie powołał Inspektora Ochrony Danych. 
    W sprawach dotyczących przetwarzania danych, w tym danych osobowych, należy kontaktować się bezpośrednio z administratorem.<br />
      Kontakt mailowy: <a href="mailto:lordowietg@gmail.com"
        >lordowietg@gmail.com</a
      >
    </p>

    <h2>2. Jakie dane przetwarzamy i w jakim celu?</h2>
    <p>
      Nasza strona internetowa przetwarza dane wyłącznie w celach analitycznych oraz do obsługi bezpośredniej korespondencji. Nie oferujemy możliwości założenia konta, nie prowadzimy sklepu internetowego ani newslettera.

    </p>
    <p>
     Przetwarzanie danych obejmuje następujące procesy:
    </p>
    <ul>
      <li>
        <strong>Logi serwera (Hosting):</strong> Podczas przeglądania strony, serwer sieciowy automatycznie przetwarza zapytania wysyłane przez Twoją przeglądarkę (w tym m.in. adres IP, datę i godzinę wejścia).
      </li>
      <li>
        <strong>Formularz kontaktowy:</strong> Jeśli zdecydujesz się skontaktować z nami za pomocą formularza na stronie, będziemy przetwarzać podane przez Ciebie dane. Dane te są przetwarzane wyłącznie w celu udzielenia odpowiedzi na Twoje zapytanie.
      </li>
      <li>
        <strong>Analityka strony:</strong> W celu optymalizacji działania strony oraz prowadzenia podstawowych statystyk odwiedzin, korzystamy z narzędzia analitycznego. <strong>Nie używamy plików cookies</strong> (ciasteczek) ani żadnych innych
          technologii śledzących. Wszelkie zbierane informacje są całkowicie zanonimizowane i służą wyłącznie do celów
          statystycznych.
      </li>
    </ul>

 
    <h2>3. Pliki Cookies (Ciasteczka)</h2>
    <p>
      Nasza strona internetowa <strong
        >nie wykorzystuje żadnych plików cookies</strong
      > (ani własnych, ani podmiotów trzecich). Nie śledzimy Twoich ruchów w sieci,
      nie profilujemy Cię i nie przesyłamy Twoich danych do zewnętrznych korporacji
      reklamowych.
    </p>

   

  </LegalPage>
</Layout>
